{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashed-messages">
      {% for category, msg in messages %}
        <li class="{{ category }}">{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<div class="payment-form">
    <h3>Enter Voucher Code</h3>
    <form method="post" action="">
        {{ csrf_token() }}
        <input type="text" name="voucher_code" placeholder="Voucher Code" required>
        <button type="submit">Pay with Voucher</button>
    </form>

</div>
